{% extends "pages/base.html" %}
<!-- Title of learner-->
{% block  title %} Search course {% endblock %}
<!-- Body of learner app-->
{% block content %}
    <h1>COURSE: SEARCH</h1>
    <br>
    <div class="container">
        <form action="." method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Search"/>
        </form>
    </div>
    <br>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Course_ID</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Time_to_finish</th>
            <th scope="col">Cost</th>
          </tr>
        </thead>
        <tbody>
            {% for infor in infors %}
              <tr>
                  {% for key,value in infor.items %}
                    <td>{{value}}</td>
                  {% endfor %}
              </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}