{% extends "pages/base.html" %}
<!-- Title of learner-->
{% block  title %} Remove instructor {% endblock %}
{% block content %}
    <h1>INSTRUCTOR: REMOVE</h1>
    <br>
    <div class="container">
        <div class="col-sm-6">
            <form action="." method="POST">
                {% csrf_token %}
                <table class="table table-hover">
                    {{form}}
                </table>
                <center>
                    <input type="submit" value="Register"/>
                </center>
            </form>
        </div>
    </div>
{% endblock %}